.custom-card {
    width: 15rem !important;
}

.my-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.outline {
    outline: 2px solid rgb(255, 166, 0);
    cursor: pointer;
    transition: 0.2s;
}