.custom-card {
    width: 15rem !important;
    transition: 0.2s;
}

.my-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.outline {
    box-shadow: 0 0 0 2px rgb(0, 157, 255);
    /* border: 2px solid rgb(193, 193, 193); */
    cursor: pointer;
    
}