<div class="my-container">


    <div class="card custom-card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Show do Metálica</h5>

            <h2>23 dias</h2>
        </div>
    </div>

    <div class="card custom-card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Aniversário</h5>

            <h2>14 horas 43 minutos</h2>
        </div>
    </div>

    <div class="card custom-card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Viagem</h5>

            <h2>5 horas</h2>
        </div>
    </div>

    <div class="card custom-card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Lançamento do album da Beyonce</h5>

            <h2>40 minutos</h2>
        </div>
    </div>

</div>

