.my-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.custom-select {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 10%;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.2s;
}

.nome{
    font-size: 0.7em;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    font-weight:500;
    color: #858585;
}


.icon {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}



.selected {
    background-color: rgb(152, 255, 144);
}

.outline {
    box-shadow: 0 0 0 2px rgb(0, 157, 255);;
    /* border: 2px solid rgb(193, 193, 193); */
    cursor: pointer;
    
}