<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Countdown</a>

    <div class="my-menu-div" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a *ngIf="isLoggedIn; else isNotLoggedInProfile" class="nav-link" routerLink="/content">Home</a>

          <ng-template #isNotLoggedInProfile>

            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
              </li>
            </ul>
          </ng-template>
        </li>
      </ul>

      <a *ngIf="isLoggedIn; else isNotLoggedIn" class="btn btn-outline-success ml-lg-auto "
        routerLink="profile">Perfil</a>

      <ng-template #isNotLoggedIn>
        <a class="btn btn-outline-success ml-lg-auto " routerLink="login">Login</a>
      </ng-template>

    </div>

  </div>
</nav>


<div class="container-fluid">
  <router-outlet class="my-router-outlet"></router-outlet>
</div>

<footer class="my-footer">
  <div class="container d-flex justify-content-center py-5 footerDiv">
    <p>Contact:</p>
    <a class="btn btn-dark me-2" target="_blank" href="#" role="button">GitHub<i class="fab fa-github ms-2"></i></a>
  </div>
</footer>