.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.col-md-6 {
    display: flex;
    justify-content: center;
    width: 30rem;

}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bar {
    display: flex;
    justify-content: space-between;
}


.deleteBtn {
    font-size: 0.7em;
}