

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">

        
        <div class="card login-div">
          <div class="card-body">
            <h5 class="card-title text-center">Create Category</h5>
            <form class="login-form">
              <div class="form-group">
                <label for="title">Category name</label>
                <input type="text" class="form-control" id="title" placeholder="Type the category name">
              </div>
              <div class="my-container">
                <label for="icon">Choose an icon</label>
                <div class="custom-select" id="icon">
                    <button class="option" >🎸</button>
                    <button class="option selected" >🎉</button>
                    <button class="option" >🪭</button>
                    <button class="option" >🛍️</button>

                </div>
            
            </div>
            </form>

            <div class="btn-container">
              <button  class="btn btn-danger" routerLink="/content">Cancel</button>
              <button class="btn btn-primary" routerLink="/content" type="submit">Save</button>
        </div>
        </div>


      </div>
    </div>
  </div>